/*!  */

.hoverHome:hover,
.hoverHome a:hover {
    color: var(--primaryWhite);
}

#contenitoreNavBar .hoverHome:hover {
    color: var(--primaryWhite);
}

.hoverWeb:hover,
.hoverWeb a:hover {
    color: var(--webDeveloper) ;
}
#contenitoreNavBar .hoverWeb:hover {
    color: var(--webDeveloper);
}

.hoverFot:hover,
.hoverFot a:hover {
    color: var(--fotografia) ;
}
#contenitoreNavBar .hoverFot:hover {
    color: var(--fotografia);
}

.hoverVid:hover,
.hoverVid a:hover {
    color: var(--videoDrone) ;
}
#contenitoreNavBar .hoverVid:hover {
    color: var(--videoDrone);
}

.hoverSta:hover,
.hoverSta a:hover {
    color: var(--stampa3D) ;
}
#contenitoreNavBar .hoverSta:hover {
    color: var(--stampa3D);
}

.activeWeb {
    color: var(--webDeveloper);
    font-weight: 600;
}

#contenitoreNavBar .activeWeb {
    color: var(--webDeveloper);
    font-weight: 600;
}

.activeFot {
    color: var(--fotografia);
    font-weight: 600;
}

#contenitoreNavBar .activeFot {
    color: var(--fotografia);
    font-weight: 600;
}

.activeVid {
    color: var(--videoDrone);
    font-weight: 600;
}

#contenitoreNavBar .activeVid {
    color: var(--videoDrone);
    font-weight: 600;
}

.activeSta {
    color: var(--stampa3D);
    font-weight: 600;
}

#contenitoreNavBar .activeSta {
    color: var(--stampa3D);
    font-weight: 600;
}

.activeHome {
    color: var(--primaryWhite);
    font-weight: 600;
}

#contenitoreNavBar .activeHome {
    color: var(--primaryWhite);
    font-weight: 600;
}

/*! Competenze */
.contenitoreSezioneCompetenze>div:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 300ms;
}

.contenitoreSezioneCompetenze>div:nth-child(1):hover {
    box-shadow: 0px 0px 10px 2px var(--webDeveloper);
}
.contenitoreSezioneCompetenze>div:nth-child(2):hover {
    box-shadow: 0px 0px 10px 2px var(--fotografia);
}
.contenitoreSezioneCompetenze>div:nth-child(3):hover {
    box-shadow: 0px 0px 10px 2px var(--videoDrone);
}
.contenitoreSezioneCompetenze>div:nth-child(4):hover {
    box-shadow: 0px 0px 10px 2px var(--stampa3D);
}

.contenitoreSezioneCompetenze > div:hover p:hr{
    cursor: pointer;
    color: blanchedalmond;
}

/*! Tabs */
.servizi .servizioCard:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: 300ms;
}

.servizi .servizioLink:nth-child(1) .servizioCard:hover {
    box-shadow: 0px 0px 10px 2px var(--webDeveloper);
}

.servizi .servizioLink:nth-child(2) .servizioCard:hover {
    box-shadow: 0px 0px 10px 2px var(--fotografia);
}

.servizi .servizioLink:nth-child(3) .servizioCard:hover {
    box-shadow: 0px 0px 10px 2px var(--videoDrone);
}

.servizi .servizioLink:nth-child(4) .servizioCard:hover {
    box-shadow: 0px 0px 10px 2px var(--stampa3D);
}

/*! Button */
.contenitoreContattami .contactEmailButton:hover{
    transform: scale(1.05);
    filter: brightness(1.15);
    cursor: pointer;
    transition: 300ms;
}

/*! Footer */

.LinkIcon a:hover{
    color: rgb(0, 255, 242);
}
.InstagramIcon a:hover{
    color: rgb(255, 140, 0);
}
.YoutubeIcon a:hover{
    color: red;
}
.GitHubIcon a:hover{
    color: rgb(59, 59, 59);
}