.contenitoreStampa {
	background-image: url("../../public/Sfondi/Sfondo 3D.jpg");
	background-position-y: 10%;
}

.contenitoreStampa .titleHome {
	padding: 300px 0 0 0;
}

.contenitoreStampa .titleHome h1 {
	margin-top: 18px;
	line-height: 1.1;
}

.contenitoreStampa .titleHome h1 strong {
	color: var(--stampa3D);
	font-size: 72px;
}

.sectionProcessoStampa h1 strong {
	color: var(--stampa3D);
	font-size: 40px;
}

.StampaLabel {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0 20px 0 80px;
}

.StampaLabel div {
	background-color: var(--Softstampa3D);
	padding: 5px 0;
}

.comeLavoroLabelStampa {
	display: flex;
	justify-content: flex-start;
	margin: 50px 0 0 0;
	gap: 100px;
}

.comeLavoroLabelStampa > div {
	flex: 1;
}

.comeLavoroLabelStampa span {
	color: var(--Softstampa3D);
	font-size: 40px;
}

.comeLavoroLabelStampa h5 {
	margin: 10px 0 5px 0;
}

.contattamiStampa h2 {
	color: var(--stampa3D);
}
